*,
*::before,  
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250,163,8);
}
.page {
  display:flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  gap: 20px;
  
}
.firstline {
   display: flex;
    gap:20px;
}

.secondline {
    display: flex;
    gap:20px;
    justify-content: flex-start;
    
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 273px;
  height: 220px;
  padding: 20px;
  gap: 20px;
}

.firstblock, .thirdblock , .fifthblock  {
  background-color: #03071E;
}

.secondblock, .fourthblock {
  background-color: #6A040F; 
}

.firstblock {
 display: flex;
 flex-direction: column;
 align-items: flex-start;

}
.secondblock {
 display: flex;
 flex-direction: column;
 justify-content:flex-end;
 align-items: flex-end;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;

}
.circlefirstline,
.circlesecondline {
  display: flex;
  gap: 20px;   /* space between circles */
}
.circlesecondline {
 margin-top: 20px;
}

.secondblocklineOne {
    display: flex;
    justify-content: flex-end;
}